<div class ="container">
  <h1 class ="text-center">contacts us</h1> 
  
  <%= form_for "/contacts" do |f|%>
  <%= f.label :Name %>
  <%= f.text_field :Name %>
  
  <%= f.label :Email %>
  <%= f.text_field :Email %>
  
  <%= f.label :comments %>
  <%= f.text_area :comments %>
  
  <%= f.submit "submit" %>
  
  <%end%>
  
</div>
